body {
	  padding-top: 50px;
	  padding-bottom: 0px;
	  background: url(../bg.jpg);
}
	 
	.login {
	  max-width: 400px;
	  padding: 15px;
	  margin: 0 auto;
	  -webkit-box-shadow: 0px 0px 18px 0px rgba(48, 50, 50, 0.48);
	  -moz-box-shadow:    0px 0px 18px 0px rgba(48, 50, 50, 0.48);
	  box-shadow:         0px 0px 18px 0px rgba(48, 50, 50, 0.48);
	  border-radius: 7px;
	}
	 
	#logo{
		width: 400px;
		margin: 0px auto 10px;
		display: block;
		padding: 100px 0 20px 5px;
	 }
	 
	 hr {
	  margin: 10px 0 10px;
	  border-top: 1px solid #808080;
	}

 