*{
  padding: 0;
  margin: 0;
}
html, body{
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background: #293341;
  overflow: hidden;
  position: relative;
}
.content{
  height: 100%;
  margin: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}
.content:before {
    content:'';
    height: 100%;
    float: left;
}
.shell-wrap{
  background: #293341;
  height: 100%;
  position: relative;
  display: table-cell;
  padding: 0;
  vertical-align: top;
  float: none;
}

.shell-wrap > .shell-top-bar{
  background: #ecf0f1;
  padding: 12px;
  font-size: 16px;
  margin: 0 0 1px 0;
}
.shell-wrap > .shell-input{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.shell-body {
  height: 88%;
  width: auto;
  margin: 0;
  padding: 0 15px;
  font-size: 12px;
  list-style: none;
  /*line-height: 1.6em;*/
  overflow-x:auto;
  overflow-y:auto;
  bottom: 0;
}
.shell-body > li{
  color: #fff;
  
}
.shell-body > li.command:before {
  content: '>';
  position: relative;
  left: -3px;
  line-height: 13px;
  font-size: 10px;
  color: #95a5a6;
  border-bottom: 2px solid #1582dc;
}
.shell-body > li > pre {
  padding: 0;
  margin: 0;
  color: #fff;
  background: transparent;
  border: 0;
  width: auto;
}

.help:after {
    content:'';
    clear: both;
    display: block;
}
.help{
  color: #31343c;
  background: #fff;
  position: relative;
  height: 100%
}
.help > h4.title{
  background: #2c3e50;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 13px 0 13px 13px;
  width: 100%;
  border-bottom: 5px solid #53b2e5;
}
.help > .help-body{
  overflow-x:hidden;
  overflow-y: auto;
  position: absolute;
  height: 87%;
}
.help .padding{
  padding: 5px;
  text-align: justify;
}
.help > .help-body > ul > li{
  font-weight: bold;
}
.help > .help-body  h4{
  padding: 0;
  margin: 6;
}
.help-send{
  position: absolute;
  max-width: 220px; 
  bottom: 0;
}
.help-send,.help-send > a{
  font-size: 10px;
  text-align: center;
}
.help-send > button{
  border-radius: 0;
  font-weight: bold;
}
.CodeMirror {
  width: auto !important;
  height: auto !important;
}
.CodeMirror-scroll {
  overflow-y: hidden !important;
  overflow-x: auto !important;
}
pre.CodeMirror-placeholder {
  color: #333 !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px !important;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
 
 ::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(49, 176, 213,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(49, 176, 213,0.7);
}

blockquote{
  font-size: 12px;
  margin: 0;
  border-left: 5px solid #2ecc71;
  padding: 5px;
}
.list-group{
  margin: 0;
}
.list-group-item:first-child,.list-group-item:last-child{
  border-radius: 0;
}
.list-group-item{
  border-left: 3px solid #53b2e5;
}